*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
  color: #000;
  border: 1px solid;
  padding: 20px;
  /* margin: 30px; */
}

.wrap {
  margin: 0 auto;
  /* width: 450px; */
  border: 3px solid red;
}

.link {
  /* display: block; */
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid red;
  background: yellowgreen;
}

/* .wrap {
  margin: 0 auto;

} */

.list {
  list-style: none;
  display: inline;
}

.list-item {
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  width: 30px;
  padding: 5px;
  /* margin-bottom: 5px; */
}

.list-item:not(:last-child) {
  margin-bottom: 5px;
}

/* .list-item:last-child {
  margin-bottom: 0;
} */
.list-item .list-item:nth-child(2n) {
  background-color: orange;
}