body{
}

div {
  text-align: left;
  margin-top: 100px;
  font-size: 50px;
}

h1 {
  background-color: rgb(255, 0, 34);
  color: aqua;
  text-align: center;
}

p {
  color: blue;
  text-align: center;
}

/* h1 {
  text-align: left;
} */