*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;

}

a {
  text-decoration: none;
}
