body {
  /* background-color: red; */
}

/* nav{
    background-color: green;
  }

ul{
  background-color: yellow;
}

li{
background-color: yellow;
}
*/

a{
  background-color: #155aa8;
} 

.navigation{
  background-color: rgb(0, 204, 255);
}

#link{
background-color: yellowgreen;
}

li [id] {
  background-color: #d30d0d;
}
