.header {
  display: flex;
  justify-content: space-between;
  height: 68px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: $brand-color;
  padding: 17px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.nav-item {
  text-transform: uppercase;

  &:hover a {
    color: $hover-color;
  }

  > a {
    color: $brand-color;
  }
}

.nav-item:not(:last-child) {
  margin-right: 55px;
}
